body{

background:#121212;
color:white;
font-family:Arial;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

margin:0;

}

.player{

background:#181818;

padding:25px;

border-radius:20px;

width:320px;

text-align:center;

box-shadow:0 10px 40px rgba(0,0,0,0.6);

}

.disco{

width:200px;
height:200px;

margin:auto;

}

.capa{

width:200px;
height:200px;

border-radius:50%;

object-fit:cover;

border:6px solid #1DB954;

}

.girando{

animation:rodar 5s linear infinite;

}

@keyframes rodar{

from{transform:rotate(0)}

to{transform:rotate(360deg)}

}

.artista{

color:#b3b3b3;

}

button{

margin-top:15px;

background:#1DB954;

border:none;

width:70px;
height:70px;

border-radius:50%;

font-size:28px;

color:white;

cursor:pointer;

}

input[type=range]{

width:100%;

margin-top:10px;

}

.tempo{

display:flex;

justify-content:space-between;

font-size:14px;

margin-top:10px;

}

.texto{

margin-top:20px;

display:none;

font-size:16px;

line-height:1.5;

}

.heart{

position:fixed;

bottom:0;

color:red;

font-size:20px;

animation:subir 3s linear forwards;

}

@keyframes subir{

from{
transform:translateY(0);
opacity:1;
}

to{
transform:translateY(-600px);
opacity:0;
}

}
